    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img" data-aos="fade-right" data-aos-delay="100">
              <img src="assets/img/about-img.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
              <h2>About Us</h2>
              <h3>Welcome to our website</h3>
              <p>Established in 1996, Chandrima Jewellers has been one of the most trusted names in jewellery in the HB Town region located in Sodepur, Kolkata. As the years passed, a tradition of unsurpassed service, quality and value was born. Chandrima Jewellers prefer quality over quantity, so to meet the primary needs of the customers, we make exquisite jewellery to maintain the trust and confidence of our customers. We are extremely passionate about offering the greatest quality of service to our customers. Our extensive range of fine jewellery includes necklaces, earrings, bangles made of fine and pure gold, in addition to handpicked precious astrological gemstones and exceptional sterling silver jewellery.</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> necklaces, earrings, bangles made of fine and pure gold </li>
                <li><i class="ion-android-checkmark-circle"></i> precious astrological gemstones </li>
                <li><i class="ion-android-checkmark-circle"></i> exceptional sterling silver jewellery </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->