
<footer id="footer" class="section-bg">
    <div class="footer-top">
    	 <div class="section-header">
          <h3>Contact Us</h3><br><br>
         
        </div>

      <div class="container">
      	

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">

                <!-- <div class="footer-info">
                  <h3>Chandrima Jewellers</h3>
                  <p>Established in 1996, Chandrima Jewellers has been one of the most trusted names in jewellery in the HB Town region located in Sodepur, Kolkata. As the years passed, a tradition of unsurpassed service, quality and value was born.</p>
                </div> -->
                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    72, Central Rd, HB Town <br>
                    Sodepur, Kolkata - 700110<br>
                    India <br>
                    <strong>Phone:</strong> +91 9830249352<br>
                    <strong>Email:</strong>chandrimajewellerscj@gmail.com<br>
                    <strong>Location:</strong> <a href="https://g.page/chandrima-jewellers?share"> View location on map</a><br>
                  </p>
                </div>


                <div class="footer-newsletter">
                  <h4>Our Newsletter</h4>
                  <p>Subscribe to our newsletter</p>
                  <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>
                </div>

              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#">Portfolio</a></li>
                    
                  </ul>
                </div>

                <!-- <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    72, Central Rd, HB Town <br>
                    Sodepur, Kolkata - 700110<br>
                    India <br>
                    <strong>Phone:</strong> +91 9830249352<br>
                    <strong>Email:</strong>chandrimajewellerscj@gmail.com<br>
                  </p>
                </div>
 
 -->
 				<div class="social-links">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">


            <div class="form">

              <h4>Send us a message</h4>
              <p>For any queries just drop in a message</p>

              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>

                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>

            </div>

          </div>

        </div>


        <div class="row-fluid">
        	
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Chandrima Jewellers</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
      -->
        Designed by Rupak roy</a>
      </div>
    </div>
  </footer>