{{>headerlinks}}

{{!-- {{>header}} --}}




<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" >

        <header class="section-header">
          <h3 class="section-title">Our Products</h3>
        </header>

        <div class="row" >
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Bangles</li>
              <li data-filter=".filter-web"><a href="/products/necklaces">Necklace</a></li>
              <li data-filter=".filter-card">Designer Bangles</li>
              
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/bangle1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Bangle 1</a></h4>
                <p>Bangle</p>
                <div>
                  <a href="assets/img/portfolio/bangle1.jpg" data-gall="portfolioGallery" title="Bangle 1" class="link-preview venobox"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/necklace2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Necklace 3</a></h4>
                <p>Necklace</p>
                <div>
                  <a href="assets/img/portfolio/necklace2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Necklace 2"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/bangle2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Bangle 2</a></h4>
                <p>Bangle</p>
                <div>
                  <a href="assets/img/portfolio/app2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Bangle 2"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/designerbangle2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Designer Bangle 2</a></h4>
                <p>Designer Bangle</p>
                <div>
                  <a href="assets/img/portfolio/designerbangle2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Card 2"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/necklace1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Necklace 2</a></h4>
                <p>Necklace</p>
                <div>
                  <a href="assets/img/portfolio/necklace1.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Necklace 1"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/bangle3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Bangle 3</a></h4>
                <p>Bangle</p>
                <div>
                  <a href="assets/img/portfolio/bangle3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Bangle 3"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/designerbangle1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Designer Bangle 1</a></h4>
                <p>Designer Bangle</p>
                <div>
                  <a href="assets/img/portfolio/card1.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Designer Bangle 1"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/designerbangle3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Designer Bangle 3</a></h4>
                <p>Designer Bangle 3</p>
                <div>
                  <a href="assets/img/portfolio/designerbangle3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Earrings 3"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/necklace3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Necklace 1</a></h4>
                <p>Necklace</p>
                <div>
                  <a href="assets/img/portfolio/necklace3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Necklace 3"><i class="ion ion-eye"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    






















{{>footer}}

